{% extends 'profile.html' %}
{%block header%}
<h1 class="text-white text-center">MOUNTS</h1>
{%endblock%}
{% block mounts %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile_mounts.css') }}">
<h4 class="text-center" style="color:#b1997f">{{total_collected_mounts}} of {{total_mounts}} Mounts</h4>

<div class="row justify-content-md-center p-2" >
    <div class="col-lg">
        <!-- NAV TABS -->
        <div id="myBtnContainer">
          <button class="btnn actives" onclick="filterSelection('all')"> Show all</button>
          <button class="btnn" onclick="filterSelection('acquired')"> Acquired</button>
          <button class="btnn" onclick="filterSelection('not collected')"> Not Acquired</button>
        </div>
        <button onclick="topFunction()" class="rounded-circle" id="myBtn" title="Go to top"></button>
        <!-- NAV CONTENT -->
        <div class="row row-cols-1 row-cols-md-3 g-4 py-2">
          {%for mount in total_mounts_info.keys()%}
          <div class="col filterDiv {{total_mounts_info[mount][0][1]}}">
            <div class="card border border-1 border-secondary text-center text-white bg-dark mb-3">
              <div class="card-header text-center">
                <h6 class="card-title" style="color: #f8b700;">{{mount}}</h6>
            </div>
              <img src="{{total_mounts_info[mount][0][0]}}" class="card-img-bottom" >
               <div class="card-img-overlay d-flex flex-column justify-content-end p-1">
                <p class="text-start" style="color:chartreuse; font-size:small;">"{{total_mounts_info[mount][0][2]}}"</p>
                <p class="text-start" ><span style="color:chartreuse;">Drops:</span> {{total_mounts_info[mount][0][3][0]}} </p>
              </div>
            </div>
          </div>
          {%endfor%}
        </div>
    </div>
</div>
<script>
//Get the button
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}

filterSelection("all")
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("filterDiv");
  if (c == "all") c = "";
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
  }
}

function w3AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
  }
}

function w3RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);     
    }
  }
  element.className = arr1.join(" ");
}

// Add active class to the current button (highlight it)
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("btnn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function(){
    var current = document.getElementsByClassName("actives");
    current[0].className = current[0].className.replace(" actives", "");
    this.className += " actives";
  });
}
</script>
{% endblock %}}