{% extends 'profile.html' %}
{%block header%}
<h1 class="text-white text-center">MOUNTS</h1>
{%endblock%}
{% block mounts %}
<style>
.pagination a {
    font-size:x-large;
  color: black;
  float: right;
  padding: 8px 16px;
  text-decoration: none;
  transition: all 0.2s ease;
}

.pagination a.active {
    transform: scale(1.3);
    color:turquoise;
}

.pagination a:hover:not(.active) {transform: scale(1.3);
color:turquoise;}
a.disabled_link {
  /* Make the disabled links grayish*/
  color: gray;
  /* And disable the pointer events */
  pointer-events: none;
  
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
</style>
<div class="row justify-content-md-center p-2">
    <div class="col-lg">
      <!-- NAV LINKS -->
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">All</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Collected</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Not Collected</button>
          </li>
        </ul>
        <!-- PROGRESS BAR -->
        <div class="progress mb-3" style="height: 40px;">
          <div class="progress-bar bg-success fs-5" role="progressbar" style="width: {{total_collected_mounts_percent}}%;" aria-valuenow="27" aria-valuemin="0" aria-valuemax="100">{{total_collected_mounts_percent}}% ({{total_collected_mounts}}/{{total_mounts}})</div>
        </div>
        <!-- NAV CONTENT -->
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="row row-cols-1 row-cols-md-4" style="height:880px ; overflow:auto;">
            {%for mount in total_mounts_info.keys()%}
            <div class="col">
              <div class="card shadow text-white bg-dark mb-3">
                  <div class="card-header" style="font-size: small;"><a>{{mount}} {%if total_mounts_info[mount][0][1] == 'collected'%}  <span style="color: yellow;">&#10003;</span>{%endif%}</a></div>
                  <img src="{{total_mounts_info[mount][0][0]}}" class="card-img-bottom">
              </div>
            </div>
            {%endfor%}
          </div>
        </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <!-- MAIN BODY -->
            <div class="row row-cols-1 row-cols-md-4" style="height:880px ; overflow:auto;">
              {%for mount in mounts%}
                  {%for key in mount.keys()%}
                      <div class="col">
                          <div class="card shadow text-white bg-dark mb-3">
                              <div class="card-header" style="font-size: small;"><a>{{key}}</a></div>
                              <img src="{{mount[key]['media']}}" class="card-img-bottom">
                          </div>
                      </div>
                  {%endfor%}
              {%endfor%}
            </div>
          </div>
          <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            <h1>NOT COLLECTED</h1>
          </div>
        </div>
    </div>
</div>

{% endblock %}}