{% extends 'profile.html' %}
{%block header%}
<h1 class="text-white text-center">MOUNTS</h1>
{%endblock%}
{% block mounts %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile_mounts.css') }}">
<h4 class="text-info text-center">{{total_collected_mounts}} of {{total_mounts}} Mounts</h4>

<div class="row justify-content-md-center p-2" >
    <div class="col-lg">
        <!-- NAV TABS -->
        <ul class="nav nav-tabs mb-3" style="border-bottom:0px" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">All</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Collected</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Not Collected</button>
          </li>
        </ul>
        <button onclick="topFunction()" class="rounded-circle" id="myBtn" title="Go to top"></button>
        <!-- NAV CONTENT -->
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row row-cols-1 row-cols-md-4">
              {%for mount in total_mounts_info.keys()%}
              <div class="col">
                <div class="card text-center text-white bg-dark mb-3">
                  <img src="{{total_mounts_info[mount][0][0]}}" class="card-img-bottom">
                    <div class="card-img-overlay p-1">
                        {%if total_mounts_info[mount][0][1] == 'collected'%}<h6 class="card-title" style="color: yellow; ">{{mount}}</h6>{%endif%}
                        {%if total_mounts_info[mount][0][1] == 'not_collected'%} <h6 class="card-title" style="color: grey;  ">{{mount}}</h6>{%endif%}
                        <p class="text-start" style="color:chartreuse; font-size:x-small;">{{total_mounts_info[mount][0][2]}}</p>
                        <p class="text-start" ><span style="color:chartreuse;">Drops:</span> {{total_mounts_info[mount][0][3][0]}} </p>
                    </div>
                </div>
              </div>
              {%endfor%}
            </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row row-cols-1 row-cols-md-4" >
              {%for mount in mounts%}
                  {%for key in mount.keys()%}
                      <div class="col">
                          <div class="card text-center  text-white bg-dark mb-3">
                            <img src="{{mount[key]['media']}}" class="card-img-bottom ">
                            <div class="card-img-overlay p-1">
                              <h6 class="card-title" style="color: yellow;">{{key}}</h6>
                              <p class="text-start" style="color:chartreuse; font-size:x-small; ">{{mount[key]['description']}}</p>
                              <p class="text-start"><span style="color:chartreuse;">Drops:</span> {{mount[key]['drops']}}</p>
                            </div>
                          </div>
                      </div>
                  {%endfor%}
              {%endfor%}
            </div>
          </div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="row row-cols-1 row-cols-md-4" >
              {%for mount in total_mounts_info.keys()%}
                {%if total_mounts_info[mount][0][1] == 'not_collected'%}
                <div class="col">
                  <div class="card text-center text-white bg-dark mb-3">
                    <img src="{{total_mounts_info[mount][0][0]}}" class="card-img-bottom">
                    <div class="card-img-overlay p-1">
                      <h6 class="card-title" style="color: grey;">{{mount}}</h6>
                      <p class="text-start" style="font-size:x-small;color:chartreuse">{{total_mounts_info[mount][0][2]}}</p>
                      <p class="text-start"><span style="color:chartreuse;">Drops:</span> {{total_mounts_info[mount][0][3][0]}} </p>
                    </div>
                  </div>
                </div>
                {%endif%}
              {%endfor%}
            </div>
          </div>
        </div>

       
    </div>
</div>
<script>
//Get the button
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>
{% endblock %}}